extends navbar.pug
block head-elements
    head
        link(rel="stylesheet", href="/styles/firstlayer.css")
block content
    div(class="card-Container")
        each set in data
            div(class="Card")
                div(class="card-top-box")
                    div(class="location")
                        div(class="large-font font-bold")=set.name
                        div(class="small-font")=`Lat: ${set.lat}`
                        div(class="small-font")=`Lon: ${set.lon}`
                    div(class="weather")
                        div(class="data-box")
                            div(class="medium-font font-bold") Weather
                        div(class="small-font weather-code")=set.weathercode
                div(class="card-bottom-box font-color")
                    button(class="displayed-selector small-font font-bold" data-target="temp") Temperatur
                    button(class="displayed-selector small-font font-bold" data-target="wind") Wind
                    button(class="displayed-selector small-font font-bold" data-target="pressure") Luftdruck
                div(class="card-bottom-content small-font font-bold")
                    div(class="parameter-box temp-data")
                        div(class="data-box")
                            div(class="text-box")
                                div(class="small-font temp-number")=set.temperature!=null?`${set.temperature}°C`:''
                                div(class="small-font")=minmax[data.indexOf(set)] && minmax[data.indexOf(set)].maxtemp ?`Max: ${minmax[data.indexOf(set)].maxtemp}°C`:''
                                div(class="small-font")=minmax[data.indexOf(set)] && minmax[data.indexOf(set)].mintemp ? `Min: ${minmax[data.indexOf(set)].mintemp}°C` : ''
                        div(class="data-box")
                            img(src="/images/icons/temperature/thermometer.svg" class="temp-img" alt=set.temperature)
                            img(src="" class="temp-trend" alt=minmax[data.indexOf(set)] && minmax[data.indexOf(set)].temperature_trend ? minmax[data.indexOf(set)].temperature_trend: '')
                    div(class="parameter-box wind-data")
                        div(class="data-box")
                            div(class="text-box")
                                div(class="small-font")=set.wind!=null?`${set.wind} pft`:''
                                div(class="small-font wind-dir")=set.winddirection
                                div(class="small-font")=minmax[data.indexOf(set)] && minmax[data.indexOf(set)].maxwind ? `Max: ${minmax[data.indexOf(set)].maxwind}` : ''
                                div(class="small-font")=minmax[data.indexOf(set)] && minmax[data.indexOf(set)].minwind ? `Min: ${minmax[data.indexOf(set)].minwind}` : ''
                        div(class="data-box")
                            img(src="/images/icons/wind.svg")
                            img(src="" class="wind-trend" alt=minmax[data.indexOf(set)] && minmax[data.indexOf(set)].wind_trend ? minmax[data.indexOf(set)].wind_trend: '')
                    div(class="parameter-box pressure-data")
                        div(class="data-box")
                            div(class="text-box")
                                div(class="small-font")=set.pressure!=null?`${set.pressure} hpa`:''
                                div(class="small-font")=minmax[data.indexOf(set)] && minmax[data.indexOf(set)].maxpressure ? `Max: ${minmax[data.indexOf(set)].maxpressure}` : ''
                                div(class="small-font")=minmax[data.indexOf(set)] && minmax[data.indexOf(set)].minpressure ? `Min: ${minmax[data.indexOf(set)].minpressure}` : ''
                        div(class="data-box")
                            img(src="/images/icons/speedometer.svg")
                            img(src="" class="pressure-trend" alt=minmax[data.indexOf(set)] && minmax[data.indexOf(set)].pressure_trend ? minmax[data.indexOf(set)].pressure_trend: '')
                div(class="actions")
                    a(href=`/stations/${set.id}`)
                        img(src="/images/icons/folder.svg" class="actions")
                    a(href=`/stations/delete/${set.id}`)
                        img(src="/images/icons/trash3.svg" class="actions")
        div(class="Card medium-font" id="new-card")
            form(action="/dashboard" method="post")
                label(for="titel") Name Wetterstation
                input(type="text" name="titel" class="input-field small-font" id="titel")
                label(for="lat") Breitengrad
                input(type="text" name="lat" class="input-field small-font" id="lat")
                label(for="lon") Längengrad
                input(type="text" name="lon" class="input-field small-font" id="lon")
                input(type="submit" value="Station hinzufügen" class="submit-button small-font")

    script(src="scripts/changeDisplayedInfo.js")