extends navbar.pug
block content
    div(class="fill")
        img(src="images/rain.jpg" alt="Background" id="background-img")
        svg( id="background-waves"
            preserveAspectRatio="none"
            viewBox="0 0 960 540"
            width="960" height="540"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1")
            path(d="M498 540L502 522C506 504 514 468 520.3 432C526.7 396 531.3 360 538.5 324C545.7 288 555.3 252 554.7 216C554 180 543 144 542.3 108C541.7 72 551.3 36 556.2 18L561 0L960 0L960 18C960 36 960 72 960 108C960 144 960 180 960 216C960 252 960 288 960 324C960 360 960 396 960 432C960 468 960 504 960 522L960 540Z" fill="#ececec" fill-opacity="40%")
            path( d="M606 540L597.7 522C589.3 504 572.7 468 575.8 432C579 396 602 360 612.7 324C623.3 288 621.7 252 613.7 216C605.7 180 591.3 144 591.2 108C591 72 605 36 612 18L619 0L960 0L960 18C960 36 960 72 960 108C960 144 960 180 960 216C960 252 960 288 960 324C960 360 960 396 960 432C960 468 960 504 960 522L960 540Z" fill="#e0e0e0" fill-opacity="50%")
            path( d="M677 540L675.8 522C674.7 504 672.3 468 671.3 432C670.3 396 670.7 360 670.2 324C669.7 288 668.3 252 668.8 216C669.3 180 671.7 144 664.5 108C657.3 72 640.7 36 632.3 18L624 0L960 0L960 18C960 36 960 72 960 108C960 144 960 180 960 216C960 252 960 288 960 324C960 360 960 396 960 432C960 468 960 504 960 522L960 540Z" fill="#d3d3d3" fill-opacity="60%")
            path( d="M700 540L697.2 522C694.3 504 688.7 468 692.8 432C697 396 711 360 718.3 324C725.7 288 726.3 252 722.7 216C719 180 711 144 705.3 108C699.7 72 696.3 36 694.7 18L693 0L960 0L960 18C960 36 960 72 960 108C960 144 960 180 960 216C960 252 960 288 960 324C960 360 960 396 960 432C960 468 960 504 960 522L960 540Z" fill="#c7c7c7" fill-opacity="70%")
            path( d="M757 540L755.2 522C753.3 504 749.7 468 745.7 432C741.7 396 737.3 360 739.8 324C742.3 288 751.7 252 756.2 216C760.7 180 760.3 144 756.7 108C753 72 746 36 742.5 18L739 0L960 0L960 18C960 36 960 72 960 108C960 144 960 180 960 216C960 252 960 288 960 324C960 360 960 396 960 432C960 468 960 504 960 522L960 540Z" fill="#bbbbbb" fill-opacity="75%")
            path( d="M777 540L776 522C775 504 773 468 779.5 432C786 396 801 360 807.5 324C814 288 812 252 807.2 216C802.3 180 794.7 144 793.8 108C793 72 799 36 802 18L805 0L960 0L960 18C960 36 960 72 960 108C960 144 960 180 960 216C960 252 960 288 960 324C960 360 960 396 960 432C960 468 960 504 960 522L960 540Z" fill="#afafaf" fill-opacity="80%")
            path( d="M851 540L853.3 522C855.7 504 860.3 468 862.7 432C865 396 865 360 862.2 324C859.3 288 853.7 252 848.8 216C844 180 840 144 842.3 108C844.7 72 853.3 36 857.7 18L862 0L960 0L960 18C960 36 960 72 960 108C960 144 960 180 960 216C960 252 960 288 960 324C960 360 960 396 960 432C960 468 960 504 960 522L960 540Z" fill="#a4a4a4" fill-opacity="90%")
            path( d="M906 540L904.7 522C903.3 504 900.7 468 902 432C903.3 396 908.7 360 907.7 324C906.7 288 899.3 252 896.2 216C893 180 894 144 892 108C890 72 885 36 882.5 18L880 0L960 0L960 18C960 36 960 72 960 108C960 144 960 180 960 216C960 252 960 288 960 324C960 360 960 396 960 432C960 468 960 504 960 522L960 540Z" fill="#989898" fill-opacity="100%")



