extends navbar.pug
block head-elements
    head
        link(rel="stylesheet", href="../../styles/station.css")
block content
    div(class="detailed-card")
        div(class="detailed-card-parameter-box")
            div(class="parameter-box")
                div(class="large-font font-bold")=data[0].name
                div(class="small-font")=`Lat: ${data[0].lat}`
                div(class="small-font")=`Lon: ${data[0].lon}`
            div(class="parameter-box")
                div(class="detailed-weather-box")
                    div(class="large-font font-bold") Weather
                div(class="small-font weather-code")=data[0].weathercode
            div(class="parameter-box")
                div(class="large-font font-bold") Temperatur
                div(class="small-font")=`${data[0].temperature} Grad`
            div(class="parameter-box")
                div(class="large-font font-bold") Wind
                div(class="small-font")=`${data[0].wind} pft`
            div(class="parameter-box")
                div(class="large-font font-bold") Luftdruck
                div(class="small-font")=`${data[0].pressure} hpa`
        table(class= "small-font")
            tr
                th Wetter
                th Temperatur
                th Wind
                th Luftdruck
            each set in data
                tr
                    td=set.weathercode
                    td=set.temperature
                    td=set.wind
                    td=set.pressure
    script(src="../scripts/changeImages.js")