extends navbar.pug
block head-elements
    head
        link(rel="stylesheet", href="../../styles/station.css")
block content
    div(class="detailed-card")
        div(class="all-parameter-box")
            div(class="parameter-box")
                div(class="data-box")
                    div(class="large-font font-bold" id="station-name")=station.name
                    div(class="text-box")
                        div(class="small-font")=`Lat: ${station.lat}`
                        div(class="small-font")=`Lon: ${station.lon}`
            div(class="parameter-box")
                div(class="data-box")
                    div(class="large-font font-bold") Weather
                    div(class="small-font weather-code")=data.length > 0 ? data[0].weathercode:''
            div(class="parameter-box")
                div(class="data-box")
                    div(class="large-font font-bold") Temperatur
                    div(class="text-box")
                        div(class="small-font temp-number")=data.length > 0 ? `${data[0].temperature}°C` : ''
                        div(class="small-font")= minmax && minmax.maxtemp ? `Max: ${minmax.maxtemp}°C` : ''
                        div(class="small-font")=minmax && minmax.maxtemp ? `Min: ${minmax.mintemp}°C`:''
                div(class="data-box")
                    img(src="/images/icons/temperature/thermometer.svg" class="temp-img" alt=data.length > 0 ?data[0].temperature:'')
                    img(src="" class="temp-trend" alt=minmax && minmax.temperature_trend ? minmax.temperature_trend:'')
            div(class="parameter-box")
                div(class="data-box")
                    div(class="large-font font-bold") Wind
                    div(class="text-box")
                        div(class="small-font")=data.length > 0 ? `${data[0].wind} pft`:''
                        div(class="small-font wind-dir")=data.length > 0 ? data[0].winddirection:''
                        div(class="small-font")=minmax && minmax.maxwind ? `Max: ${minmax.maxwind}`:''
                        div(class="small-font")=minmax && minmax.minwind ?`Min: ${minmax.minwind}`:''
                div(class="data-box")
                    img(src="/images/icons/wind.svg")
                    img(src="" class="wind-trend" alt=minmax && minmax.wind_trend ?minmax.wind_trend:'')
            div(class="parameter-box")
                div(class="data-box")
                    div(class="large-font font-bold") Luftdruck
                    div(class="text-box")
                        div(class="small-font")=data.length > 0 ? `${data[0].pressure} hpa`:''
                        div(class="small-font")=minmax && minmax.maxpressure ?`Max: ${minmax.maxpressure}`:''
                        div(class="small-font")=minmax && minmax.minpressure ?`Min: ${minmax.minpressure}`:''
                div(class="data-box")
                    img(src="/images/icons/speedometer.svg")
                    img(src="" class="pressure-trend" alt=minmax && minmax.pressure_trend ?minmax.pressure_trend:'')
        div(id="chart")
        table(class= "small-font")
            tr
                th Zeitpunkt
                th Wetter
                th Temperatur
                th Wind
                th Luftdruck
            each set in data
                tr
                    td=set.time
                    td=set.weathercode
                    td=set.temperature
                    td=set.wind
                    td=set.pressure
                    td
                        a(href=`/stations/delete/reading/${station.id}/${set.id}`)
                            img(src="/images/icons/x-circle.svg")
        form(action=`/stations/${station.id}` method="post" class="blur-box small-font font-bold")
            div(class="input-values")
                label(for="code") Code
                    input(type="number" name="code" list="code-list" required class="input-field small-font" id="code")
                        datalist(id="code-list")
                            option 200
                            option 300
                            option 500
                            option 600
                            option 700
                            option 800
                label(for="temp") Temperatur
                    input(type="number"  name="temp" step="0.01" min="-273.15" required  class="input-field small-font" id="temp")
                label(for="wind") Windgeschwindigkeit
                    input(type="number" name="wind" step="0.01" min="0" required  class="input-field small-font" id="wind")
                label(for="winddir") Windrichtung
                    input(type="number" name="winddir"  min="0" max="360" required class="input-field small-font" id="winddir")
                label(for="pressure") Luftdruck
                    input(type="number" name="pressure" required  class="input-field small-font" id="pressure")
            input(type="submit" value="Messung hinzufügen" class="submit-button small-font")
        form(action=`/stations/autoReading/${station.id}/${station.name}` method="post" class="blur-box small-font font-bold")
            input(type="submit" value="Automatische Messung hinzufügen" class="submit-button small-font")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js")
    script(src="../scripts/renderSide.js")


