extends navbar.pug
block head-elements
    head
        link(rel="stylesheet", href="../../styles/station.css")
block content
    div(class="detailed-card")
        div(class="detailed-card-parameter-box")
            div(class="parameter-box")
                div(class="large-font font-bold")=station.name
                div(class="small-font")=`Lat: ${station.lat}`
                div(class="small-font")=`Lon: ${station.lon}`
            div(class="parameter-box")
                div(class="detailed-weather-box")
                    div(class="large-font font-bold") Weather
                div(class="small-font weather-code")=data[0].weathercode
            div(class="parameter-box")
                div(class="large-font font-bold") Temperatur
                div(class="small-font")=`${data[0].temperature} Grad`
            div(class="parameter-box")
                div(class="large-font font-bold") Wind
                div(class="small-font")=`${data[0].wind} pft`
            div(class="parameter-box")
                div(class="large-font font-bold") Luftdruck
                div(class="small-font")=`${data[0].pressure} hpa`
        table(class= "small-font")
            tr
                th Zeitpunkt
                th Wetter
                th Temperatur
                th Wind
                th Luftdruck
            each set in data
                tr
                    td=set.time
                    td=set.weathercode
                    td=set.temperature
                    td=set.wind
                    td=set.pressure
                    td
                        a(href=`/stations/delete/reading/${set.id}`)
                            img(src="/images/icons/x-circle.svg")
        form(action=`/stations/${station.id}` method="post" class="blur-box small-font font-bold")
            div(class="input-values")
                label(for="code") Code
                    input(type="text" name="code" class="input-field small-font" id="code")
                label(for="temp") Temperatur
                    input(type="text" name="temp" class="input-field small-font" id="temp")
                label(for="wind") Windgeschwindigkeit
                    input(type="text" name="wind" class="input-field small-font" id="wind")
                label(for="winddir") Windrichtung
                    input(type="text" name="winddir" class="input-field small-font" id="winddir")
                label(for="pressure") Luftdruck
                    input(type="text" name="pressure" class="input-field small-font" id="pressure")
            input(type="submit" value="Station hinzufügen" class="submit-button small-font")
    script(src="../scripts/changeImages.js")